In [2]:
import csv
import matplotlib.pyplot as plt 
import requests
import json
import pandas as pd 
from config import api_key
from yelpapi import YelpAPI
import argparse

from pprint import pprint

argparser = argparse.ArgumentParser(description='Example Yelp queries using yelpapi. Visit https://www.yelp.com/developers/v3/manage_app to get the necessary API keys.')
argparser.add_argument(api_key, type=str, help='Yelp Fusion API Key')

_StoreAction(option_strings=[], dest='VpAqdsRiA4HvlGHzH0toLKhZZSQL2An4bkyl1sK6g2Hn-KScAF1xxAKb3wkFfxrioeKYvFRY5RtMBeEt3hngOhFIQTvPOgzrotLLzkAGAk6X3GtlVSxIL31Ov5NmXXYx', nargs=None, const=None, default=None, type=<class 'str'>, choices=None, help='Yelp Fusion API Key', metavar=None)

In [3]:
headers = {'Authorization': 'Bearer %s' % api_key}

In [4]:
yelp_api = YelpAPI(api_key)
#search yelp library for Inexpensive Restaurants ($)
la_search_1_results = yelp_api.search_query(term='restaurants', location='los angeles, ca', price=1)
#pprint (search_1_results['total'])

#search yelp library for Moderate Restaurants ($$)
la_search_2_results = yelp_api.search_query(term='restaurants', location='los angeles, ca', price=2)
#pprint (search_2_results['total'])

#search yelp library for Pricey Restaurants ($$$)
la_search_3_results = yelp_api.search_query(term='restaurants', location='los angeles, ca', price=3)
#pprint (search_3_results['total'])

#search yelp library for Ultra High-End ($$$$)
la_search_4_results = yelp_api.search_query(term='restaurants', location='los angeles, ca', price=4)
#pprint (search_4_results['total'])

#DataFrame for results

In [5]:
# Drop businesses & region from dataframe

In [6]:
#Request to pull the number of Wheelchair accessible restaurants from each city
yelp_api = YelpAPI(api_key)

#Wheelchair accessible restaurants in LA
wc_la_results = yelp_api.search_query(term='restaurants', location='los angeles, ca', attributes="wheelchair_accessible")
pprint(wc_la_results['total'])

#Wheelchair accessible restaurants in DC
wc_dc_results = yelp_api.search_query(term='restaurants', location='washington, dc', attributes="wheelchair_accessible")
pprint(wc_dc_results['total'])

#Wheelchair accessible restaurants in Miami
wc_mia_results = yelp_api.search_query(term='restaurants', location='miami, fl', attributes="wheelchair_accessible")
pprint(wc_mia_results['total'])

#Wheelchair accessible restaurants in Chicago
wc_chi_results = yelp_api.search_query(term='restaurants', location='chicago, il', attributes="wheelchair_accessible")
pprint(wc_chi_results['total'])

2300
1400
913
1500

In [7]:
#Create DataFrame to hold results
access_dict= ({"Los Angeles": wc_la_results,
                "DC": wc_dc_results,
                "Miami": wc_mia_results,
                "Chicago": wc_chi_results  
})

access_data = pd.DataFrame(access_dict)
access_data

,Los Angeles,DC,Miami,Chicago
businesses,"[{'id': 'RVbZaawgEGmto6TxOoVBdQ', 'alias': 'ru...","[{'id': 'VA8aPObRynlwR1TGzbzraQ', 'alias': 'fo...","[{'id': 'UXHxLN3DcDGI57uDIfCuJA', 'alias': 'ol...","[{'id': 'zm6Peew9j8YtowzUu4sQfA', 'alias': 'th..."
region,"{'center': {'longitude': -118.32138061523438, ...","{'center': {'longitude': -77.0306396484375, 'l...","{'center': {'longitude': -80.2880859375, 'lati...","{'center': {'longitude': -87.67776489257812, '..."
total,2300,1400,913,1500

In [8]:
# Drop businesses & region from dataframe
access_data.drop(['businesses', 'region'], inplace=True)
access_data

      Los Angeles    DC Miami Chicago
total        2300  1400   913    1500

In [9]:
#Request to pull total number of restaurants from each city
yelp_api = YelpAPI(api_key)

#Total number of restaurants in LA
la_total = yelp_api.search_query(term='restaurants', location='los angeles, ca')
pprint (la_total['total'])

#Total number of restaurants in DC
dc_total = yelp_api.search_query(term='restaurants', location='washington, dc')
pprint (dc_total['total'])

#Total number of restaurants in Miami
mia_total = yelp_api.search_query(term='restaurants', location='miami, fl')
pprint (mia_total['total'])

#Total number of restaurants in Chicago
chi_total = yelp_api.search_query(term='restaurants', location='chicago, il')
pprint (chi_total['total'])

8300
6800
3300
5900

In [10]:
#Create DataFrame to hold results
total_dict= ({"Los Angeles": la_total,
                "DC": dc_total,
                "Miami": mia_total,
                "Chicago": chi_total  
})

total_data = pd.DataFrame(total_dict)
total_data

,Los Angeles,DC,Miami,Chicago
businesses,"[{'id': 'RVbZaawgEGmto6TxOoVBdQ', 'alias': 'ru...","[{'id': 'VA8aPObRynlwR1TGzbzraQ', 'alias': 'fo...","[{'id': 'UXHxLN3DcDGI57uDIfCuJA', 'alias': 'ol...","[{'id': 'zm6Peew9j8YtowzUu4sQfA', 'alias': 'th..."
region,"{'center': {'longitude': -118.32138061523438, ...","{'center': {'longitude': -77.0306396484375, 'l...","{'center': {'longitude': -80.2880859375, 'lati...","{'center': {'longitude': -87.67776489257812, '..."
total,8300,6800,3300,5900

In [11]:
# Drop businesses & region from dataframe
total_data.drop(['businesses', 'region'], inplace=True)
total_data

      Los Angeles    DC Miami Chicago
total        8300  6800  3300    5900

In [13]:
print(url)

https://api.yelp.com/v3/businesses/VpAqdsRiA4HvlGHzH0toLKhZZSQL2An4bkyl1sK6g2Hn-KScAF1xxAKb3wkFfxrioeKYvFRY5RtMBeEt3hngOhFIQTvPOgzrotLLzkAGAk6X3GtlVSxIL31Ov5NmXXYx