In [13]:
import csv
import matplotlib.pyplot as plt
import requests
import json
import pandas as pd
from config import api_key
import argparse
from pprint import pprint
from yelpapi import YelpAPI
yelp_api = YelpAPI(api_key)
argparser = argparse.ArgumentParser(description='Example Yelp queries using yelpapi. Visit https://www.yelp.com/developers/v3/manage_app to get the necessary API keys.')
argparser.add_argument(api_key, type=str, help='Yelp Fusion API Key')

_StoreAction(option_strings=[], dest='t9Aqpq086bS4P_h7RY-fgMeMbrrKr-D_cdrrllrO8gCuPPyY3K7V6ELW_OFMKvoI3wa4jlx0ahhlESLkb4YQsTmiWMtiZhWlwu9eMhtKWZL5OrtqRmUBu2IAQa9pXXYx', nargs=None, const=None, default=None, type=<class 'str'>, choices=None, help='Yelp Fusion API Key', metavar=None)

In [14]:
# Determine total number of restaurants in four cities that subscribe to YELP...
# pprint(response)

los_angeles_data = yelp_api.search_query(location='los angeles, ca', attributes='restaurant')
washington_dc_data = yelp_api.search_query(location='washington, dc', attributes='restaurant')
miami_data = yelp_api.search_query(location='miami, fl', attributes='restaurant')
chicago_data = yelp_api.search_query(location='chicago, il', attributes='restaurant')

print(los_angeles_data['total'])
print(washington_dc_data['total'])
print(miami_data['total'])
print(chicago_data['total'])

11300
9200
4300
8500

In [26]:
# Create dataframe of total restaurants
city_restaurant_dict= ({"LA": los_angeles_data['total'],
                        "DC": washington_dc_data['total'],
                        "Mia": miami_data['total'],
                        "Chi": chicago_data['total']})

city_restaurant_dict = pd.DataFrame(list(city_restaurant_dict.items()), columns = ['City', 'Total Restaurants'])
city_restaurant_dict

city_restaurant_dict

  City  Total Restaurants
0   LA              11300
1   DC               9200
2  Mia               4300
3  Chi               8500

In [16]:
# Determine total number of restaurants in four cities that subscribe to YELP Reservation Option
# pprint response

#Request to pull the number of restaurants each city that offer Reservations
yelp_api = YelpAPI(api_key)

# Reservations in restaurants in LA
res_la_results = yelp_api.search_query(term='restaurants', location='los angeles, ca', attributes="reservation")
pprint(res_la_results['total'])

# Reservations in restaurants in DC
res_dc_results = yelp_api.search_query(term='restaurants', location='washington, dc', attributes="reservation")
pprint(res_dc_results['total'])

# Reservations in restaurants in Miami
res_mia_results = yelp_api.search_query(term='restaurants', location='miami, fl', attributes="reservation")
pprint(res_mia_results['total'])

# Reservations in restaurants in Chicago
res_chi_results = yelp_api.search_query(term='restaurants', location='chicago, il', attributes="reservation")
pprint(res_chi_results['total'])

501
127
105
104

In [17]:
# Create dataframe of restaurants that subscribe to the YELP Reservation Option...

reservation_dict= ({"LA": res_la_results,
                "DC": res_dc_results,
                "Mia": res_mia_results,
                "Chi": res_chi_results})

reservation_data = pd.DataFrame(reservation_dict)
reservation_data.drop(['businesses', 'region'], inplace=True)

reservation_data.head()

        LA   DC  Mia  Chi
total  501  127  105  104

In [25]:
# Create dataframe of restaurants that subscribe to the YELP Reservation Option...
reservation_dict = ({"LA": res_la_results['total'],
                  "DC": res_dc_results['total'],
                    "Mia": res_mia_results['total'],
                    "Chi": res_chi_results['total']})

reservation_dict = pd.DataFrame(list(reservation_dict.items()), columns = ['City', 'Total Reservations'])
reservation_dict

  City  Total Reservations
0   LA                 501
1   DC                 127
2  Mia                 105
3  Chi                 104

In [19]:
# Determine total number of restaurants in four cities that subscribe to YELP Wait List Option
yelp_api = YelpAPI(api_key)

# Reservations and Wait List Availability in restaurants in LA
wl_la_results = yelp_api.search_query(term='restaurants', location='los angeles, ca', attributes="waitlist_reservation")
pprint(wl_la_results['total'])

# Reservations and Wait List Availability in restaurants in DC
wl_dc_results = yelp_api.search_query(term='restaurants', location='washington, dc', attributes="waitlist_reservation")
pprint(wl_dc_results['total'])

# Reservations and Wait List Availability in restaurants in Miami
wl_mia_results = yelp_api.search_query(term='restaurants', location='miami, fl', attributes="waitlist_reservation")
pprint(wl_mia_results['total'])

# Reservations and Wait List Availability in restaurants in Chicago
wl_chi_results = yelp_api.search_query(term='restaurants', location='chicago, il', attributes="waitlist_reservation")
pprint(wl_chi_results['total'])

87
38
13
70

In [20]:
# Create dataframe of restaurants that subscribe to the YELP Wait List Option...
waitlist_dict= ({"LA": wl_la_results,
                "DC": wl_dc_results,
                "Mia": wl_mia_results,
                "Chi": wl_chi_results})

waitlist_data = pd.DataFrame(waitlist_dict)
waitlist_data.drop(['businesses','region'], inplace=True)
waitlist_data

       LA  DC Mia Chi
total  87  38  13  70

In [24]:
# Create dataframe of restaurants that subscribe to the YELP Wait List Option...
waitlist_dict= ({"LA": wl_la_results['total'],
                "DC": wl_dc_results['total'],
                "Mia": wl_mia_results['total'],
                "Chi": wl_chi_results['total']})

waitlist_data= pd.DataFrame(list(waitlist_dict.items()), columns = ['City', 'Total Wait List'])
waitlist_data

  City  Total Wait List
0   LA               87
1   DC               38
2  Mia               13
3  Chi               70