In [7]:
pip install yelpapi

Requirement already satisfied: yelpapi in c:\users\clsch\anaconda3\envs\pythondata\lib\site-packages (2.4.0)
Requirement already satisfied: requests in c:\users\clsch\anaconda3\envs\pythondata\lib\site-packages (from yelpapi) (2.22.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\clsch\anaconda3\envs\pythondata\lib\site-packages (from requests->yelpapi) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\clsch\anaconda3\envs\pythondata\lib\site-packages (from requests->yelpapi) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\clsch\anaconda3\envs\pythondata\lib\site-packages (from requests->yelpapi) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\clsch\anaconda3\envs\pythondata\lib\site-packages (from requests->yelpapi) (2019.6.16)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import csv
import matplotlib.pyplot as plt 
import requests
import json
import pandas as pd 
from config import api_key
from yelpapi import YelpAPI
import argparse

from pprint import pprint

argparser = argparse.ArgumentParser(description='Example Yelp queries using yelpapi. Visit https://www.yelp.com/developers/v3/manage_app to get the necessary API keys.')
argparser.add_argument(api_key, type=str, help='Yelp Fusion API Key')

_StoreAction(option_strings=[], dest='d1rvGhfWij6SncPbQMlX9MtoaJQQLCqJmRsY8LhWe-xYgIP3lTUMMgjNNOqz-hWgtoNzxMAH_BPDZnqSOYinUSKm2ZdANU7CVOBwKrCDtEPVSawcoL-2SkQYSYFqXXYx', nargs=None, const=None, default=None, type=<class 'str'>, choices=None, help='Yelp Fusion API Key', metavar=None)

In [10]:
headers = {'Authorization': 'Bearer %s' % api_key}

In [17]:
yelp_api = YelpAPI(api_key)
#printing top 5 best rated Mexican spots in Washington DC
print("****** 5 Best Rated Cuisines in Washington, DC ******\n")
#response = yelp_api.search_query(term='mexican', location='washington, dc', limit=5, sort_by='review_count')
#pprint(response)
#print('\n-------------------------------------------------------------------------\n')

mexican_results = yelp_api.search_query(term='mexican', location='washington, dc', attributes='restaurant')
pprint(mexican_results['total'])

japanese_results = yelp_api.search_query(term='japanese', location='washington, dc', attributes='restaurant')
pprint(japanese_results['total'])

indian_results = yelp_api.search_query(term='indian', location='washington, dc', attributes='restaurant')
pprint(indian_results['total'])

italian_results = yelp_api.search_query(term='italian', location='washington, dc', attributes='restaurant')
pprint(italian_results['total'])

greek_results = yelp_api.search_query(term='greek', location='washington, dc', attributes='restaurant')
pprint(greek_results['total'])

****** 5 Best Rated Cuisines in Washington, DC ******

1100
455
232
1400
361

In [18]:
washington_dict= ({"Mexican": mexican_results,
                "Japanese": japanese_results,
                "Indian": indian_results,
                "Italian": italian_results,
                "Greek": greek_results    
})

washington_data = pd.DataFrame(washington_dict)

washington_data

,Mexican,Japanese,Indian,Italian,Greek
businesses,"[{'id': '094fHChJkrJqztSFCn3ezA', 'alias': 'ta...","[{'id': 'wTz5b1FR8Af06LKjf9eTDQ', 'alias': 'da...","[{'id': 'n-6O6I7pmmpwkW2pCO-zDw', 'alias': 'in...","[{'id': 'U0tfep9yNBASTe2zAG6cPw', 'alias': 'fi...","[{'id': 'GBkFa8TJwkaUJsJXXGkTTg', 'alias': 'za..."
region,"{'center': {'longitude': -77.0306396484375, 'l...","{'center': {'longitude': -77.0306396484375, 'l...","{'center': {'longitude': -77.0306396484375, 'l...","{'center': {'longitude': -77.0306396484375, 'l...","{'center': {'longitude': -77.0306396484375, 'l..."
total,1100,455,232,1400,361

In [19]:
# Drop businesses & region from dataframe
washington_data.drop(['businesses', 'region'], inplace=True)
washington_data

      Mexican Japanese Indian Italian Greek
total    1100      455    232    1400   361

In [16]:
# Bar chart for BOTH Miami & Washington DC

In [ ]:
#printing top 5 best rated Japanese spots in Washington DC
#print("****** 5 Best Rated Japanese Restaurants in Washington, DC ******\n")
#response = yelp_api.search_query(term='japanese', location='washington, dc', limit=5, sort_by='review_count')
#pprint(response)
#print('\n-------------------------------------------------------------------------\n')

In [ ]:
#yelp_api = YelpAPI(api_key)
# Search yelp library for "Mexican restaurants"
#search_results = yelp_api.search_query(term='mexican', location='washington, dc', sort_by='rating', limit=5)
#df = pd.DataFrame(search_results['businesses'])
#df.head()

In [27]:
#url='https://api.yelp.com/v3/businesses/search'
 
# In the dictionary, term can take values like food, cafes or businesses like McDonalds
#params = {'term':'restaurant','location':'Washington DC'}

# Making a get request to the API
#req=requests.get(url, params=params, headers=headers)
 
# proceed only if the status code is 200
#print('The status code is {}'.format(req.status_code))

In [28]:
# printing the text from the response 
#sample = json.loads(req.text)

In [29]:
#print(json.dumps(sample, indent=4))