In [10]:
pip install yelpapi

Requirement already satisfied: yelpapi in c:\users\leite\anaconda3\envs\pythondata\lib\site-packages (2.4.0)
Requirement already satisfied: requests in c:\users\leite\anaconda3\envs\pythondata\lib\site-packages (from yelpapi) (2.22.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\leite\anaconda3\envs\pythondata\lib\site-packages (from requests->yelpapi) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\leite\anaconda3\envs\pythondata\lib\site-packages (from requests->yelpapi) (2019.6.16)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\leite\anaconda3\envs\pythondata\lib\site-packages (from requests->yelpapi) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\leite\anaconda3\envs\pythondata\lib\site-packages (from requests->yelpapi) (1.24.2)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import csv
import matplotlib.pyplot as plt 
import requests
import json
import pandas as pd 
from config import api_key
from yelpapi import YelpAPI
import argparse

from pprint import pprint

argparser = argparse.ArgumentParser(description='Example Yelp queries using yelpapi. Visit https://www.yelp.com/developers/v3/manage_app to get the necessary API keys.')
argparser.add_argument(api_key, type=str, help='Yelp Fusion API Key')

_StoreAction(option_strings=[], dest='t9Aqpq086bS4P_h7RY-fgMeMbrrKr-D_cdrrllrO8gCuPPyY3K7V6ELW_OFMKvoI3wa4jlx0ahhlESLkb4YQsTmiWMtiZhWlwu9eMhtKWZL5OrtqRmUBu2IAQa9pXXYx', nargs=None, const=None, default=None, type=<class 'str'>, choices=None, help='Yelp Fusion API Key', metavar=None)

In [12]:
headers = {'Authorization': 'Bearer %s' % api_key}

In [13]:
yelp_api = YelpAPI(api_key)
#printing top 5 best rated Mexican spots in Chicago
print("****** 5 Best Rated Cuisines in Chicago ******\n")
#response = yelp_api.search_query(term='mexican', location='washington, dc', limit=5, sort_by='review_count')
#pprint(response)
#print('\n-------------------------------------------------------------------------\n')

mexican_results = yelp_api.search_query(term='mexican', location='Chicago', attributes='restaurant')
pprint(mexican_results['total'])

japanese_results = yelp_api.search_query(term='japanese', location='Chicago', attributes='restaurant')
pprint(japanese_results['total'])

indian_results = yelp_api.search_query(term='indian', location='Chicago', attributes='restaurant')
pprint(indian_results['total'])

italian_results = yelp_api.search_query(term='italian', location='Chicago', attributes='restaurant')
pprint(italian_results['total'])

greek_results = yelp_api.search_query(term='greek', location='Chicago', attributes='restaurant')
pprint(greek_results['total'])

****** 5 Best Rated Cuisines in Chicago ******

3000
760
274
3000
525

In [14]:
Chicago_dict= ({"Mexican": mexican_results,
                "Japanese": japanese_results,
                "Indian": indian_results,
                "Italian": italian_results,
                "Greek": greek_results    
})

Chicago_data = pd.DataFrame(Chicago_dict)

Chicago_data

,Mexican,Japanese,Indian,Italian,Greek
businesses,"[{'id': 'G9uGr8bOEcRspwvV9Svufg', 'alias': 'ol...","[{'id': 'q7SQnw2xVHjWuyQXL3VHUg', 'alias': 'ka...","[{'id': 'dLS8GPg-K1O-zJ3VJAtiyg', 'alias': 'in...","[{'id': 'LYppbvgJlBG0SqjSKFiFGg', 'alias': 'sa...","[{'id': '_UJ3KqtHIHjExbAg-iIGUA', 'alias': 'gr..."
region,"{'center': {'longitude': -87.67776489257812, '...","{'center': {'longitude': -87.67776489257812, '...","{'center': {'longitude': -87.67776489257812, '...","{'center': {'longitude': -87.67776489257812, '...","{'center': {'longitude': -87.67776489257812, '..."
total,3000,760,274,3000,525

In [15]:
# Drop businesses & region from dataframe
Chicago_data.drop(['businesses', 'region'], inplace=True)
Chicago_data

      Mexican Japanese Indian Italian Greek
total    3000      760    274    3000   525

In [ ]:
# Bar chart for BOTH Miami & Washington DC

In [ ]:
#yelp_api = YelpAPI(api_key)
# Search yelp library for "Mexican restaurants"
#search_results = yelp_api.search_query(term='mexican', location='washington, dc', sort_by='rating', limit=5)
#df = pd.DataFrame(search_results['businesses'])
#df.head()

In [ ]:
#url='https://api.yelp.com/v3/businesses/search'
 
# In the dictionary, term can take values like food, cafes or businesses like McDonalds
#params = {'term':'restaurant','location':'Washington DC'}

# Making a get request to the API
#req=requests.get(url, params=params, headers=headers)
 
# proceed only if the status code is 200
#print('The status code is {}'.format(req.status_code))

In [ ]:
# printing the text from the response 
#sample = json.loads(req.text)

In [ ]:
#print(json.dumps(sample, indent=4))